{% extends 'core/base.html' %}

{% block content %}

<div class="container">
<div class="alert alert-warning" role="alert">CITA CONFIRMADA</div>
<p>Le será enviado un correo-electrónico con los datos de la cita. Muchas gracias.</p>
<p>Li serà enviat un correu-electrònic amb les dades de la cita. Moltes gràcies</p>


<div class="card" style="width: 100%%;    margin-top: 1em;">
  <div class="card-body">
    <h4 class="card-title">DNI : {{ object.dni }}</h4>
    <p class="card-text">
    <ul>
        <li>e-mail: {{ object.email }}</li>
        <li>Fecha / Data: {{ object.fecha | date:"d / m / Y"}}</li>
        <li>Hora: {{ object.hora|time:"H:i" }}</li>
        </ul>
    </p>
  </div>
</div>
</div>

{% endblock %}