{% extends 'core/base.html' %}

{% block content %}

<div class="container">
<div class="alert alert-warning" role="alert">CITA CONFIRMADA</div>
<p>Le será enviado un correo-electrónico con los datos de la cita. Muchas gracias.</p>


<div class="card" style="width: 100%%;    margin-top: 1em;">
  <div class="card-body">
    <h4 class="card-title">DNI : {{ object.dni }}</h4>
    <p class="card-text">
    <ul>
        <li>Correo-e: {{ object.email }}</li>
        <li>Fecha: {{ object.fecha|date }}</li>
        <li>Hora: {{ object.hora|time }}</li>
        </ul>
    </p>
  </div>
</div>
</div>

{% endblock %}