{% extends 'core/base.html' %}

{% block content %}


{% ifequal dni object.dni %}

<form method="post">{% csrf_token %}
    <div class="alert alert-warning" role="alert">¿Está seguro que quiere eliminar la cita para el {{ object.fecha |date }} a las {{object.hora | time}}?</div>
    <input class="btn btn-success" type="submit" value="Eliminar">
</form>

{% else %}
<div class="alert alert-danger" role="alert">
Lo siento, o bien la dirección está equivocada o esta cita ya ha sido anulada con anterioridad
</div>

{% endifequal %}

{% endblock %}